/*
*{
    margin: 0;
    padding: 0;
}
*/

body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    
    /* same as above */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;


}

/* applies to any link on the page */
a{
    text-decoration: none;
    color: black;
}

/* links have diff. states, this is when you hover your mouse over the link */
a:hover{
    color: red;
}

/* when you click on link */
a:active{
    color: green;
}

/*
a:visited{

}
*/

.container{
    width: 80%;
    margin: auto;
}

.button{
    background-color: darkgrey;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background: red;
    color: white;
}

.clr{
    /* clears all floats above */
    clear: both;
}

.box-1{
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    /* same as above */
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    /* overwrites everything above */
    border: 5px red solid;

    /* margin -> border -> padding */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

    /* same as above */
    padding: 20px;

    margin-top: 20px;

    /* 20 for top and bottom, 0 for right and left */
    margin: 20px 0;
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left: 20px;
    list-style: square;
    list-style: none;
}

.categories li{
    padding-bottom: 8px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check.png');
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    /* puts in-line elements on a new line */
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    /* takes border and padding and applies it to width itself, does not add to width */
    box-sizing: border-box;
}

/* use number signs for ids */
#main-block{
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: darkgrey;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    background-image: url('../images/wallhaven-103929.png');
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center center;
}

/* targeting h1 */
.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 400px;
}

/* pseudo elements */
.my-list li:first-child{
    background: red;
}

.my-list li:last-child{
    background: blue;
}

.my-list li:nth-child(5){
    background: yellow;
}

.my-list li:nth-child(even){
    background: grey;
}